@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.menu {
    padding-right: 15px;
    &__list{
        display: flex;
    }
    &__list-item {
        padding-right: 45px;
        padding-left: 35px;
    }
    &__list-link {
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;
    }
}

.logo {
    margin: 0 auto;
}

.rightside-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 694px;
    padding-top: 40px;
    background-color: white;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all .5s;
    &.rightside-menu--close {
        transform: translateX(250%);
        transition: all .5s;
    }
    &__close {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: 60px;
    }
    &__content {
        text-align: center;
        max-width: 485px;
        margin: 0 auto;
    }
    &__logo {
        margin-bottom: 40px;
        display: inline-block;
    }
    &__title {
        font-size: 36px;
        line-height: 51px;
        color: $title;
        @extend %title-font;
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 0 auto;
            width: 252px;
            height: 1px;
            background-color: #6D7278;
        }
    }
    &__text {

    }
    &__images {
        max-width: 485px;
    }
}

.footer {
    &__content {
        background-color: #DFDFDF;
        padding: 60px 0 80px;
    }   
    
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    } 

    &__info-text {
        width: 476px;
        margin-bottom: 16px;
    }

    &__info-email {
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: $title;
        margin-bottom: 22px;
        padding-left: 30px;
        position: relative;
        display: inline-block;
        &::before {
            content: "";
            position: absolute;
            background-image: url('../images/envelope.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 16px;
            height: 16px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

    &__info-form {
        display: flex;
    }

    &__info-input {
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        border: 1px solid rgba($title, .7);
        background-color: transparent;
        outline: none;
        width: 100%;
        &:placeholder {
        	font-family: 'Open Sans', sans-serif;
	        font-size: 16px;
	        line-height: 28px;
	        font-weight: 400;
	        color: #A1A1A1;
        }
    }

    &__info-btn {
        background-color: $title;
        color: #FFFFF0;
        border: none;
        padding: 6px 12px;
        border-radius: 21px;
        min-width: 160px;
        cursor: pointer;
        margin-left: 9px;
    }

    &__social {
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
    }

    &__social-link {
        padding-left: 28px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 16px;
            height: 16px;
        }
    }
    
    &__social-link--facebook::before{
        background-image: url('../images/facebook.svg');
    }

    &__social-link--instagram::before{
        background-image: url('../images/instagram.svg');
        width: 14px;
        height: 14px;
    }

    &__social-link--painterest::before{
        background-image: url('../images/pinterest.svg');
        height: 18px;
    }

    &__social-link--whatsapp::before{
        background-image: url('../images/whatsapp.svg');
        width: 14px;
        height: 14px;
    }

    &__social-link--youtube::before{
        background-image: url('../images/youtube.svg');
        width: 18px;
    }

    &__menu {
        margin-right: 60px;
        width: 125px;
    }

    &__social-item,
    &__menu-item {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
    }
    
    &__copyright {
        background-color: $title;
        text-align: center;
        color: #A1A1A1;
        padding: 42px 0 41px;
    } 
}